
.round_label {
	border-radius: 8px;
	padding: 8px;
}

.m3_message {
	z-index: 90;
	background-color: white;
	border-right: 3px solid #555555;
	border-bottom: 3px solid #555555;
	opacity: 0.8;
	word-wrap: break-word;
	cursor: pointer;
}

.m3_msg_name {
	font-weight: bold;
}

.m3_historybtn {
	z-index: 94;
	cursor: pointer;
	background-color: white;
	border: 1px solid #555555;
	opacity: 1;
	font-size: 10px;
}

.m3_historymsg {
}

.m3_selection {
	background-color: white;
	opacity: 0.8;
	border-radius: 8px;
	padding: 8px;
	word-wrap: break-word;
}

.m3_seloption {
	background-color: white;
	cursor: pointer;;
	border-radius: 8px;
	padding: 8px;
}
