
.round_label {
	border-radius: 8px;
	padding: 8px;
}

.m3_message {
	z-index: 90;
	background-color: white;
	opacity: 0.8;
	word-wrap: break-word;
	cursor: pointer;
}

.m3_msg_name {
	font-weight: bold;
}

.m3_historybtn {
	z-index: 94;
	cursor: pointer;
	background-color: white;
	opacity: 1;
}

.m3_historymsg {
}

.m3_backbtn {
	z-index: 96;
	cursor: pointer;
	background-color: white;
	opacity: 1;
}

.m3_selection {
	background-color: white;
	opacity: 0.8;
	border-radius: 8px;
	padding: 8px;
	word-wrap: break-word;
}

.m3_seloption {
	background-color: white;
	cursor: pointer;;
	border-radius: 8px;
	padding: 8px;
}

.m3_command {
	margin-top: 0.5em;
	margin-left: 1em;
	cursor: pointer;
	color: blue;
}
